/**Anita Chen achen999, HW2, CSCI 571 Spring 2022*/

html{
    padding: 100px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

h1{
    color: firebrick;
    text-align: center;
    font-size: 28px;
}

p{
    color: firebrick;
    text-align: center;
    font-size: 20px;
}

table{
    margin-left: 100px;
}

button{
    color: white;
    background-color:navy;
    margin-left: 200px;
}

h4{
    text-align: center;
}