html{
    color: white;
    background-color:#222222;
    font-size: 80px;
    text-align: center;
    font-family: 'Comfortaa', cursive, 'Montserrat', sans-serif;
    width: 4524px;
}

.topborder{
    position: fixed;
    top: 0;
    width: 4524px;
    border-top: 6px firebrick solid;

}

nav{
    background-color: black;
    padding: 80px;
}

.navlinks{
    font-size: 80px;
    color: white;
    text-shadow: 5px 0px coral;
    padding: 150px;
}

.navlinks:link{
    text-decoration: none;
}

.navlinks:visited{
    text-decoration: none;
}

.navlinks:hover{
    color: coral;
    text-shadow: 5px 0px white;
}

.navlinks:active{
    color: coral;
    text-shadow: 5px 0px white;
}

.navlinks404{
    font-size: 80px;
    color: coral;
    text-shadow: 5px 0px white;
    padding: 150px;
}

.navlinks404:link{
    text-decoration: none;
}

.navlinks404:visited{
    text-decoration: none;
}

.navlinks404:hover{
    color: white;
    text-shadow: 5px 0px coral;
}

.navlinks404:active{
    color: white;
    text-shadow: 5px 0px coral;
}


header{
    /*img 4524 by 3016*/
    background-image: url(rodeo-drive.jpg);
    background-position-y: -1600px;
    padding: 550px;
    font-size: 120px;
    color: coral;
    text-shadow: 5px 0px white;
    text-decoration: none;
}

.header404{
    /*img 4524 by 3016*/
    /*background-image: url(404-featured.jpg);*/
    background-image: linear-gradient(rgba(233, 94, 1, 0.5), rgba(233, 94, 1, 0.5)), url(404-featured.jpg);
    background-position-y: -700px;
    background-size: 4000px;
    background-position: center;
    padding: 400px;
    font-size: 120px;
    font-family: 'Montserrat';
    color: black;
    text-shadow: none;
    font-weight: bold;
    background-color:rgb(170, 88, 61);
    /*background-blend-mode: overlay;*/
}

.main404{
    font-size: 80px;
    font-family: 'Montserrat';
    color: white;
    background-color: #222222;
    padding: 500px;
}

.section2{
    background-color:#222222;
    padding: 500px;
}

.cards{
    background-color: black;
    height: 1500px;
    width: 1000px;
    display: inline-block;
    overflow: hidden;
    padding: 50px;
    margin: 25px;
}

.cardsimg{
    width: 1000px;
    height: 600px;
}

.cardstext{
    text-align: left;
}

.section3{
    background-color: black;
    padding: 500px;
    overflow: hidden;
}

.laskydesc{
    width: 1500px;
    height: 1000px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    padding: 50px;
}

.lasky{
    height: 1000px;
    padding: 50px;
    display: inline-block;
    vertical-align: middle;
}

.section4{
    background-color: #222222;
    padding: 500px;
    overflow: hidden;
}

.hollywood{
    height: 800px;
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
}

.hollywooddesc{
    width: 2000px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    padding: 50px;
}

.beach{
    height: 800px;
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
}

.beachdesc{
    width: 2000px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    padding: 50px;
}

footer{
    background-color: black;
    padding: 200px;
}

.footertext{
    height: 200px;
    width: 2000px;
    display: inline-block;
}

h1{
    font-size: 80px;
    font-family:'Montserrat';
}

h2{
   font-size: 70px; 
}

h3{
    font-size: 50px;
}

p{
    font-size: 50px;
    line-height: 75px;
}

.contacts{
    font-size: 50px;
    line-height: 75px;
    color: white;
}

.contacts:link{
    text-decoration: none;
}

.contacts:visited{
    text-decoration: none;
}

.contacts:hover{
    text-decoration: underline;
}

.contacts:active{
    text-decoration: underline;
}

