<!--Anita Chen achen999, HW2, CSCI 571 Spring 2022-->
<!DOCTYPE html>
<html>
    <head>
        <title>
            Blood Pressure Indicator
        </title>
        <link rel="stylesheet" href="../static/hw2styles.css">
        <!-- for pythonanywhere: <link rel="stylesheet" href="/static/hw2styles.css"> -->
    </head>
    <body>
        <h1>Blood Pressure Indicator</h1>
        <p> Fill out the form to get your Blood Pressure estimate!</p>
        <form method=POST>
            <table>
                <tr>
                  <td>
                    <div style="float: right; font-weight: bold;">
                        <label>
                            Age <div style="display:inline; color:red;">*</div>
                        </label>
                    </div>
                  </td>
                  <td>
                    <div>
                        <input name="ageName" type="number" placeholder="Enter age in years" required 
                        oninvalid="this.setCustomValidity('Please enter a number')"
                        onchange="this.setCustomValidity('')">
                        <br>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>
                      <div style="float: right; font-weight: bold;">
                        <label>
                            Weight <div style="display:inline; color:red;">*</div>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                          <input name="weightName" type="number" placeholder="Enter weight in kg" required
                          oninvalid="this.setCustomValidity('Please enter a number')"
                          onchange="this.setCustomValidity('')">
                      </div>
                    </td>
                  </tr>
              </table>
            
            <button type="submit">
                Calculate
            </button>
            <h4>{{ output }}</h4>
        </form>
    </body>
</html>